apiVersion: v1
kind: ServiceAccount
metadata:
  name: buildtrace-app-sa
  namespace: prod-app
  annotations:
    iam.gke.io/gcp-service-account: buildtrace-gke-workload@buildtrace-dev.iam.gserviceaccount.com
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: buildtrace-worker-config
  namespace: prod-app
data:
  FAST_TEST_MODE: "0"
  WORKER_LOG_LEVEL: "INFO"
  ENVIRONMENT: "production"
  USE_DATABASE: "true"
  USE_GCS: "true"
  USE_PUBSUB: "true"
  GCP_PROJECT_ID: "buildtrace-dev"
  INSTANCE_CONNECTION_NAME: "buildtrace-dev:us-west2:buildtrace-dev-db"
  DB_NAME: "buildtrace_db"
  DB_USER: "buildtrace_user"
  GCS_UPLOAD_BUCKET: "buildtrace-dev-input-buildtrace-dev"
  GCS_PROCESSED_BUCKET: "buildtrace-dev-processed-buildtrace-dev"
  PUBSUB_OCR_TOPIC: "buildtrace-dev-ocr-queue"
  PUBSUB_DIFF_TOPIC: "buildtrace-dev-diff-queue"
  PUBSUB_SUMMARY_TOPIC: "buildtrace-dev-summary-queue"
  PUBSUB_OCR_SUBSCRIPTION: "buildtrace-dev-ocr-worker-sub"
  PUBSUB_DIFF_SUBSCRIPTION: "buildtrace-dev-diff-worker-sub"
  PUBSUB_SUMMARY_SUBSCRIPTION: "buildtrace-dev-summary-worker-sub"
  GEMINI_MODEL: "models/gemini-2.5-pro"
  OPENAI_MODEL: "gpt-4o"

